language: scala
scala: 2.12.8
jdk: openjdk8

services:
  - docker

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
    - $HOME/.coursier/cache

env:
  global:
    - COURSIER_PROGRESS=0
    - SBT=./sbt
    # ENCRYPTION_PASSWORD
    - secure: "QVUTq+yRi1HREy2jESW6PCYfStIGc1S9Q9vV+Do1LXTeMgwyPVevozH0EueGCpxDEr1pEELw+/+ycuIHZsHc54MyEj8n1qMc7j02BQLLcM1Wb+i2SEHpxWZyBCMZ+qH5KZBBk8IsyAzLRNUjliTaAI8Foe5GRczOJ++5FffpbRLHgXNAEjTjy/h2/IJkuikHn3juV6KbP89Xj5xfsfj0GevPSHTZjz0U7XYHmTMoDgerKJNVoCruz+Rmc5AxhycPv4cngFXdTe3QIGHws0fH2e0sofjG865WEGkJ0Heuk/hGr8vQNTtipCER8psqGqszTp1yeRHanZqJXsr4I6C2aTot8pnze7KTjQ5WDcXJfBoK2Be2SYwsZBfnfgBPgvLOeSnmjq5B633N3SgxAhhKs+HQQMXlLMzbtensD4cUw3GXnqXKGpoJ6eGmH9Q49kPpzkQQQllKO9l78NP1KF7HlQtb+7y2qhsH8qdIuOigF2lO11RtpRQsgCiKHdMo7/LeEYF4x0UoBAgMGCsbJyjlatI5y51iit57iKX8POS99Zb11esrwJPLLStIJA9wnF+M/q1ImGovviJRzpygQ7xO64xkP8m0oVLijXElDulciiVyLYQmxOoGQvkWVisQHSWv088cV2jt6m4lYPdv8iZPo/Irki5cthimiqeeL/n+7lM="
    # GITHUB_TOKEN
    - secure: "Ji/8G+0VcTd5zNavsAlTEztnDZ++qoQ9mFXfL3J16tny9it9wpz4jiComOJ80bWY/zxw9FNBNmkQUh7VhDfWAMd6qDxJs6f/my0YZ5tVWpabFo6N7ZAN4tnFQbkFhb+BYMOLnDT4dKeJN3pdRw3HOmYVWT0OuhfpQLxpkVjI29sytVD9iIDW8smCQJQx0UCN0ZdYpSOJ/gwmnuUNlfp5q/et6GuB5ekSyjGscqqej4TTDaEtnVL/HmFdkk6vooBHAwZv+6Yl2K0/Od+H5Ec7SrjASva4Tr8Drf8iTEXkEWCq2KTsQXCjyKah811dpNuYMkgWbFl/RdrJOYM2EnkrryqYCYo+QhmkK3NzzIbD6r5Opn7w0Bf0hf3ZaSWVrnsGtjNrF46WlLndALthh0CZIkc74KorbJJyUMIOty6DBE46LO2IHWXAo3igk9crkM+g3RUeyANZxfsSpUU+8r4XbWiOaiUho2OOyw7bWS6hNY1JWK1Gw2TKnA/+tWV46jNZi4VUxsuL878vAjqwfbwrUr5zluVtu53H+OD53a9eMDHRgw49Mtx5JTLEXljhlUUnQ0x/EKlLJKL8QUOY81s3cwQfDuxHNqELhpJYLyWNaYWqG51N6pHpfEZykLeDR7zg+gP2EH1/iMKOyw+ZUOYqZ5N+/gO4nCQUaOCnVQeIO0A="
    # GITHUB_ACCESS_TOKEN
    - secure: "p+JxBWvRAWMePNRWMx5ty2C++TuOku10rLwqTFqPq3L5EkUg013S0if0QhHM3BbpXKGqjWhcJqQuAEVOT+42dIdO4VV6g7ShXeIoMcOVKtWanKaM7xUyBlwdTRkt17hKI0ulfRlHEPcPwdMbMSW1oP5/uQmUtSZLhqgS2hjL9MKjnuu6+as0ngzce4+b7AuD7nAwf+OJfPgMekSMz4CmaO7rUD/HtURiPIIVxkerckBLNLS1W6xNIsYPAjSkhh4yLWWOm1LiVVrMc7FExQnmjlCGuGUq3CjwFFCr8rsXJgM/P7EvqSG9d4zRmBg8nBz3x4r12jCEgd9y4uoFWnyKaprsApD5o+7RI89lxUNPOKVTmk8yfXY+MPboRwB0EbHgNv8aAUf+yGqQ8373UJhlbPrYflB1Txsnduv5CK+c8d//sc5dmyJXT0hNR42avU77gd7t3lr33UhOgJifXdUOqvwUQKGURwbfQXnoKtICPjcANegQhWKWFRFCOl39O5UCfPgashluRK4ULEngUv8gtPb/xrpQaKaOjfgn7Lh0Id354bRH92zC5Vfu40zRRMfnzltVLIfL3yUDZZyeEvj44ozwLp7JM5EyKjdHApUD3wVGic5dILAz1/ZlVamOfjQ4biDTSfrpy5DKDHeLkhlV/3/plC96YkUeNitXS6fd7Zw="
    # DISCORD_WEBHOOK_TOKENS
    - secure: "AJ7/bD2aFq1cxuKkpM+UscO1VsDoP1c3D5tIZYomK8Ys2w151trmeI+D+LOSF5mEfso8y1Q/0ejT9M09C3UXYtLo3jvegJZTw1HTOk9s0JQuoZTkUSs0JzFH5RyPdl66rXqTTtgiwIMZdH18Dd7It0M6fntDJ9n54OVoq9veQl90i/zmPar7AVhOIaTiZWUKrWjdPeLZcMBqGtPqhq1wq4p+0gYtOLONO6gk0rljykvWu0uyQhOKg1AlIidNrHTaEw3TjVP+/q+BpENzcIWK8Fk4ieP3gnvXag/TqFG4bfVJKRBsiDMwsLYQxJsHBlG6IjLhUrJN9Wf3zuZC+hcoZTq8JxKlhXg+sXM+5xtAWfL/7QzWiyyoxKRVA8lEk+ta29xOL9M4WkizNxg6B0EAtyREtZ+kx7etKo1KJu5e/3+7KK82G3QqdWIuuXFIh9fhtvfG/l3CyytE0IZpUfNQc5sM9Jk+B0dWVRrn16FnDRcgOCKG3tCrvTXEFZReQ9traP+83QUrvzRrl1PWeJ2hzppGZ3qqMv5ZLssS7L/5zdt77GEoD4KenbW6FqsYy98oq4KDWWBHamd8ScOxMIbRh3+q1M3Akkl6LWLHGk5D5Tooy2PxogayZWbBNnz2FC3iuTfA4CTNDOq85yfJFIFV54gAhyiQWuS3EuvHM/12xUY="


install:
  - mkdir scripts
  - $SBT transferCommonResources
  - scripts/commonSetup

script:
    - set -e

    - $SBT ++$TRAVIS_SCALA_VERSION test

    - |-
      if [ $TRAVIS_PULL_REQUEST == "false" ] && [[ "$TRAVIS_BRANCH" =~ backport/v.*|master ]]; then
        $SBT transferPublishAndTagResources;
        TRAVIS_JOB_NUMBER=1 scripts/publishAndTag 'slamdata/fs2-ssh';
      fi

after_success:
  - scripts/checkAndAutoMerge
  - scripts/discordTravisPost success https://discordapp.com/api/webhooks/$DISCORD_WEBHOOK_TOKENS

after_failure:
  - scripts/discordTravisPost failure https://discordapp.com/api/webhooks/$DISCORD_WEBHOOK_TOKENS

branches:
  only:
    - master
    - /^backport.*$/

before_cache:
  - find "$HOME/.sbt/" -name '*.lock' -print0 | xargs -0 rm -f
  - find "$HOME/.ivy2/" -name 'ivydata-*.properties' -print0 | xargs -0 rm -f
